* {
  padding: 0px;
}

body {
  background-color: gray;
  margin: 0;
}

/************CONTENEDOR PRINCIPAL *********************/
.contenedorJuego {
  padding: 0px;
  width: 1000px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
}

/***************CONTENEDOR PARA LA PORTADA ****************/
.portada {
  position: absolute;
  top: 0;
  visibility: visible;
}

.imgPortada {
  width: 1000px;
  height: 600px;
}

/********************CONTENEDOR PARA INTERFAZ DEL JUEGO ************/
.juego {
  position: relative;
  visibility: hidden;
}

.imgFondo {
  width: 1000px;
  height: 600px;
}

/*************** MENU SUPERIOR INSTRUCCIONES ******************/
.menuSuperior {
  position: absolute;
  top: 30px;
  right: 65px;
  width: 450px;
  height: 200px;
}

.imgInstrucciones {
  width: 450px;
  height: 200px;
}

.imgBtnSiguiente {
  position: absolute;
  bottom: 0;
  right: 150px;
}

.imgBtnJugar {
  position: absolute;
  bottom: 0;
  right: 70px;
  visibility: hidden;
}

/**************** MENU OPCIONES *****************/
.menuOpciones {
  width: 450px;
  height: 330px;
  position: absolute;
  bottom: 30px;
  right: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.concepto1,
.concepto2,
.concepto3,
.concepto4,
.definicion1,
.definicion2,
.definicion3,
.definicion4 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.conceptos {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.definiciones {
  display: grid;
  align-items: center;
}

/****************IMAGEN CONTADOR ***************/
.imgContador {
  position: absolute;
  width: 390px;
  height: 220px;
  left: 20px;
  bottom: -30px;
}
